# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=kozmetik
DB_PASS=kozmetik_dev
DB_NAME=kozmetik_platform

# Auth
JWT_SECRET=change-me-in-production-use-a-long-random-string
JWT_EXPIRY=7d

# Redis
REDIS_URL=redis://localhost:6379

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1

# App
NODE_ENV=development
API_PORT=3001
WEB_PORT=3000
